* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --gray:slategray;
    --blue:rgb(0,0,110);
}

body{
    background-color:var(--gray);
}

/*Header*/
header{
    display:flex;
    background-color: var(--blue,rgb(0,0,110));
    justify-content: space-between;
}

header h1{
    color: var(--gray);
    display: inline;
    margin-left: 10px;
}

header a{
    font-size:larger;
    font-weight:bolder;
    color: var(--gray);
    text-decoration: none;
}

header nav{
    margin-top: 15px;
}

h1{
    font-size: 50px;
    font-family: fantasy;
    font-weight:lighter;
}

header nav ul li{
    display:inline;
}

header nav ul li a{
    margin: 10px;
}
/*Header End*/

section{
    padding: 25px;
}

/*About me*/
.about{
    display:flex;
    background-image: url('../images/bali.jpg');
    background-size:cover;
    background-position-y: center;
    color:white;
}

.about img{
    display:flex;
    width: 450px;
}

/*projects*/
.projects, .first-project{
    flex:4;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.project-pic, .project-pic-first{
    border-style:solid;
    border-color:var(--blue);
    border-width: 4px;
    border-radius:5px;
    margin:20px;
    flex: 0 0 400px;
    background-color: var(--blue);
    color: var(--gray);
}

.project-pic, .project-pic-first{
    text-align:center;
    font-size:larger;
}

.project-pic img{
    width: 100%;
}

.project-pic-first img{
    width: 600px;
}
/*
.thumbnail:hover{
    position:relative;
    top:25px;
    left:35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}
*/
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    .project-pic-first{
        max-width:320px;

    }
    .project-pic, #led-pic{
        max-width: 300px;
        max-height: 300px;
    }
  }

  @media screen and (max-width: 700px){
      #avatar {
          max-width: 200px;
          max-height: 200px;
      }
  }

/*footer*/
footer{
    background-color: var(--blue,rgb(0,0,110));
    color:var(--gray,slategray);
    font-size: larger;
}

